{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sheltek || Home-1</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'shelter/images/icons/favicon.png' %}">

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="{% static 'shelter/css/bootstrap.min.css' %}">
    <!-- nivo slider CSS -->
    <link rel="stylesheet" href="{% static 'shelter/lib/css/nivo-slider.css' %}"/>
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="{% static 'shelter/css/core.css' %}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="{% static 'shelter/css/shortcode/shortcodes.css' %}">
    <!-- Theme main style -->
    <link rel="stylesheet" href="{% static 'shelter/style.css' %}">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{% static 'shelter/css/responsive.css' %}">
    <!-- Template color css -->
    <link href="{% static 'shelter/css/color/color-core.css' %}" data-style="styles" rel="stylesheet' %}">
    <!-- User style -->
    <link rel="stylesheet" href="{% static 'shelter/css/custom.css' %}">


    <!-- Modernizr JS -->
    <script src="{% static 'shelter/js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>

    <div class="wrapper">
	
        <!-- HEADER AREA START -->
        <header class="header-area header-wrapper">
            <div class="header-top-bar bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="logo">
                                <a href="{% url 'index' %}">
                                    <img src="{% static 'shelter/images/logo/logo.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 hidden-sm hidden-xs">
                            <div class="company-info clearfix">
                                <div class="company-info-item">
                                    <div class="header-icon">
                                        <img src="{% static 'shelter/images/icons/phone.png' %}" alt="">
                                    </div>
                                    <div class="header-info">
                                        <h6>+92 (306) 228 1637</h6>
                                        <p>We are open 9 am - 10pm</p>
                                    </div>
                                </div>
                                <div class="company-info-item">
                                    <div class="header-icon">
                                        <img src="{% static 'shelter/images/icons/mail-open.png' %}" alt="">
                                    </div>
                                    <div class="header-info">
                                        <h6><a href="mailto:contact@sajjadkhan.me">contact@sajjadkhan.me</a></h6>
                                        <p>You can mail us</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="header-middle-area  transparent-header hidden-xs">
                <div class="container">
                    <div class="full-width-mega-drop-menu">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="sticky-logo">
                                    <a href="{% url 'index' %}">
                                        <img src="{% static 'shelter/images/logo/logo.png' %}" alt="">
                                    </a>
                                </div>
                                <nav id="primary-menu">
                                    <ul class="main-menu text-center">
                                        <li><a href="{% url 'index' %}">Home</a>
                                            
                                        </li>
                                        
                                        <li><a href="{% url 'services' %}">Service</a>
                                            <!-- <ul class="drop-menu">
                                                <li><a href="service.html">Service</a></li>
                                                <li><a href="service-details.html">Service details</a></li>
                                            </ul> -->
                                        </li>
                                        <li><a href="{% url 'properties_list' %}">Properties</a>
                                           
                                        </li>
                                        <li><a href="{% url 'agents_list' %}">Agent</a>
                                           
                                        </li>
                                       
                                        <li><a href="#">Blog</a>
                                           
                                        </li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER AREA END -->

        <!-- MOBILE MENU AREA START -->
        <div class="mobile-menu-area hidden-sm hidden-md hidden-lg">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul>
                                    <li><a href="{% url 'index' %}">Home</a>
                                        
                                    </li>
                                    <li><a href="{% url 'services' %}">Service</a>
                                       
                                    </li>
                                    <li><a href="{% url 'properties_list' %}">Properties</a>
                                       
                                    </li>
                                   
                                    <li><a href="#">Blog</a>
                                        
                                    </li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MOBILE MENU AREA END -->
    </div>
    {% block content %} 
    {% endblock %}

    
    <footer id="footer" class="footer-area bg-2 bg-opacity-black-90">
        <div class="footer-top pt-110 pb-80">
            <div class="container">
                <div class="row">
                    <!-- footer-address -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-widget">
                            <h6 class="footer-titel">GET IN TOUCH</h6>
                            <ul class="footer-address">
                                <li>
                                    <div class="address-icon">
                                    <img src="{% static 'shelter/images/icons/location-2.png' %}" alt="">
                                    </div>
                                    <div class="address-info">
                                        <span>Islamabad ,</span>
                                        <span>Pakistan </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="address-icon">
                                        <img src="{% static 'shelter/images/icons/phone-3.png' %}" alt="">
                                    </div>
                                    <div class="address-info">
                                        <span>Telephone : (+92306) 2281  637</span>
                                        
                                    </div>
                                </li>
                                <li>
                                    <div class="address-icon">
                                        <img src="{% static 'shelter/images/icons/world.png' %}" alt="">
                                    </div>
                                    <div class="address-info">
                                        <span>Email : contact@sajjadkhan.me</span>
                                        <span>Web :<a href="https://www.sajjadkhan.me" target="_blank"> www.sajjadkhan.me</a></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer-latest-news -->
                    <div class="col-lg-6 col-md-5 hidden-sm col-xs-12">
                        <div class="footer-widget middle">
                            <h6 class="footer-titel">LATEST NEWS</h6>
                            <ul class="footer-latest-news">
                                <li>
                                    <div class="latest-news-image">
                                        <a href="#"><img src="{%static 'shelter/images/blog/1.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="latest-news-info">
                                        <h6><a href="#">Beautiful Home</a></h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur acinglit sed do eiusmod tempor inciidunt ut labore </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="latest-news-image">
                                        <a href="#"><img src="{%static 'shelter/images/blog/2.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="latest-news-info">
                                        <h6><a href="single-blog.html">Beautiful Home</a></h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur acinglit sed do eiusmod tempor inciidunt ut labore </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="latest-news-image">
                                        <a href="single-blog.html"><img src="{%static 'shelter/images/blog/3.jpg' %}" alt=""></a>
                                    </div>
                                    <div class="latest-news-info">
                                        <h6><a href="#">Beautiful Home</a></h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur acinglit sed do eiusmod tempor inciidunt ut labore </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer-contact -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="footer-widget">
                            <h6 class="footer-titel">QUICK CONTACT</h6>
                            <div class="footer-contact">
                                <p>Lorem ipsum dolor sit amet, consectetur acinglit sed do eiusmod tempor</p>
                                <form  id="contact-form-2" action="{% url 'quickcontact' %}" method="post">
                                    {% csrf_token %}
                                   
                                    {{quickcontactform}}
                                    <button type="submit" value="send">Send</button>
                                </form>
                               
                                <p class="form-messege"></p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="copyright text-center">
                            <p>Copyright &copy; 2020 <a href="https://www.twitter.com/sk7698277"><b>Sajjad Khan</b></a>. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

     <!-- Placed js at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script src="{% static 'shelter/js/vendor/jquery-3.1.1.min.js' %}"></script>
    <!-- Bootstrap framework js -->
    <script src="{% static 'shelter/js/bootstrap.min.js' %}"></script>
    <!-- Nivo slider js -->    
    <script src="{% static 'shelter/lib/js/jquery.nivo.slider.js' %}"></script>
    <!-- ajax-mail js -->
    <script src="{% static 'shelter/js/ajax-mail.js' %}"></script>
    <!-- All js plugins included in this file. -->
    <script src="{% static 'shelter/js/plugins.js' %}"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="{% static 'shelter/js/main.js' %}"></script>
</body>
</html>