{% extends 'shelter/base.html' %}
{% load static %}
<title> {% block title %}Our Services | Shelter {% endblock %}</title>
{% block content %}
     <!-- BREADCRUMBS AREA START -->
     <div class="breadcrumbs-area bread-bg-1 bg-opacity-black-70">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs">
                        <h2 class="breadcrumbs-title">Services</h2>
                        <ul class="breadcrumbs-list">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li>Services</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMBS AREA END -->

     <!-- Start page content -->
     <section id="page-content" class="page-wrapper">
            
        <!-- ABOUT SHELTEK AREA START -->
        <div class="about-sheltek-area ptb-115">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="section-title mb-30">
                            <h3>KNOW ABOUT </h3>
                            <h2>OUR SERVICES</h2>
                        </div>
                        <div class="about-sheltek-info">
                            <p><span data-placement="top" data-toggle="tooltip" data-original-title="The name you can trust" class="tooltip-content">Sheltek</span> is the best theme for  elit, sed do eiusmod tempor dolor sit amet, conse ctetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et lorna aliquatd minim veniam, quis nostrud exercitation oris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolo.</p>
                            <div class="author-quote">
                                <p>Lorem is a dummy text do eiusmod tempor dolor sit amet, onsectetur adip iscing elit, sed do eiusmod tempor incididunt ut labore et lorna aliqua Ut enim onsectetur </p>
                                <p>Lorem is a dummy text do eiusmod tempor dolor sit amet, onsectetur adip iscing elit, sed do eiusmod tempor incididunt ut labore et lorna aliqua Ut enim onsectetur </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="about-image">
                            <img src="{% static 'shelter/images/about/4.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ABOUT SHELTEK AREA END -->
        
        <!-- SERVICES AREA START -->
        <div class="services-area pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title-2 text-center">
                            <h2>OUR SERVICES</h2>
                            <p>Sheltek is the best theme for  elit, sed do eiusmod tempor dolor sit amet, conse ctetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et lorna aliquatd minim veniam, quis nostrud</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="service-carousel">
                        <!-- service-item -->
                        <div class="col-md-12">
                            <div class="service-item">
                                <div class="service-item-image">
                                    <a href="#"><img src="{% static 'shelter/images/service/1.jpg' %}" alt=""></a>
                                </div>
                                <div class="service-item-info">
                                    <h5><a href="#">Sale Property</a></h5>
                                    <p>Property sale best theme for litdo eiusmod tempor dolor sit amet, conse tetur adiping eiusmo</p>
                                </div>
                            </div>
                        </div>
                        <!-- service-item -->
                        <div class="col-md-12">
                            <div class="service-item">
                                <div class="service-item-image">
                                    <a href="#"><img src="{% static 'shelter/images/service/2.jpg' %}" alt=""></a>
                                </div>
                                <div class="service-item-info">
                                    <h5><a href="#">Buy Property</a></h5>
                                    <p>Property sale best theme for litdo eiusmod tempor dolor sit amet, conse tetur adiping eiusmo</p>
                                </div>
                            </div>
                        </div>
                        <!-- service-item -->
                        <div class="col-md-12">
                            <div class="service-item">
                                <div class="service-item-image">
                                    <a href="#"><img src="{% static 'shelter/images/service/3.jpg' %}" alt=""></a>
                                </div>
                                <div class="service-item-info">
                                    <h5><a href="#">Rent Property</a></h5>
                                    <p>Property sale best theme for litdo eiusmod tempor dolor sit amet, conse tetur adiping eiusmo</p>
                                </div>
                            </div>
                        </div>
                        <!-- service-item -->
                        <div class="col-md-12">
                            <div class="service-item">
                                <div class="service-item-image">
                                    <a href="#"><img src="{% static 'shelter/images/service/4.jpg' %}" alt=""></a>
                                </div>
                                <div class="service-item-info">
                                    <h5><a href="#">Property Management</a></h5>
                                    <p>Property sale best theme for litdo eiusmod tempor dolor sit amet, conse tetur adiping eiusmo</p>
                                </div>
                            </div>
                        </div>
                        <!-- service-item -->
                        <div class="col-md-12">
                            <div class="service-item">
                                <div class="service-item-image">
                                    <a href="#"><img src="{% static 'shelter/images/service/4.jpg' %}" alt=""></a>
                                </div>
                                <div class="service-item-info">
                                    <h5><a href="#">Sale Property</a></h5>
                                    <p>Property sale best theme for litdo eiusmod tempor dolor sit amet, conse tetur adiping eiusmo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SERVICES AREA END -->
        
        <!-- BOOKING AREA START -->
        <div class="booking-area bg-1 call-to-bg plr-140 pt-75">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="section-title text-white">
                            <h3>SOME</h3>
                            <h2 class="h1">FUN FACTOR</h2>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <div class="booking-conternt  clearfix">
                            <div class="counter-content">
                                <!-- counter-item -->
                                <div class="counter-item">
                                    <h2>
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span class="counter">999</span>
                                    </h2>
                                    <p>Complete Project</p>
                                </div>
                                <!-- counter-item -->
                                <div class="counter-item">
                                    <h2>
                                        <i class="fa fa-key" aria-hidden="true"></i>
                                        <span class="counter">555</span>
                                    </h2>
                                    <p>Property Sold</p>
                                </div>
                                <!-- counter-item -->
                                <div class="counter-item">
                                    <h2>
                                        <i class="fa fa-smile-o" aria-hidden="true"></i>
                                        <span class="counter">350</span>
                                    </h2>
                                    <p>Happy Clients</p>
                                </div>
                                <!-- counter-item -->
                                <div class="counter-item">
                                    <h2>
                                        <i class="fa fa-trophy" aria-hidden="true"></i>
                                        <span class="counter">100</span>
                                    </h2>
                                    <p>Awards Win</p>
                                </div>
                            </div>
                            <div class="booking-imgae">
                                <img src="{% static 'shelter/images/others/booking.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BOOKING AREA END -->

        <!-- TESTIMONIAL AREA START -->
        <div class="testimonial-area ptb-115">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="testimonial">
                            <div class="row">
                                <div class="col-md-8 col-sm-9">
                                    <div class="section-title mb-30">
                                        <h3>SOME OF OUR</h3>
                                        <h2 class="h1">HAPPY CLIENTS</h2>
                                    </div>
                                    <div class="testimonial-carousel dots-right-btm">
                                        <!-- testimonial-item -->
                                        <div class="testimonial-item">
                                            <div class="testimonial-brief">
                                                <p><span data-placement="top" data-toggle="tooltip" data-original-title="The name you can trust" class="tooltip-content">Sheltek</span> is the best theme for  elit, sed do eiusmod tempor dolor sit amet, conse ctetur adipiscing elit, ed do eiusmod tempor incididunt ut labore et lorna aliquatd minim veniam, quis nostrud exercitation oris nisi ut aliquip ex ea commodo equat. Duis aute irure dolo. liquatd minim veniam, quis nostrud exercitation oris nisi ut aliquip ex ea commodo equat. Duis aute irure dolo uis nostrud exercitation</p>
                                            </div>
                                            <h6>Zasica Luci, <span>CEO</span></h6>
                                        </div>
                                        <!-- testimonial-item -->
                                        <div class="testimonial-item">
                                            <div class="testimonial-brief">
                                                <p><span data-placement="top" data-toggle="tooltip" data-original-title="The name you can trust" class="tooltip-content">Sheltek</span> is the best theme for  elit, sed do eiusmod tempor dolor sit amet, conse ctetur adipiscing elit, ed do eiusmod tempor incididunt ut labore et lorna aliquatd minim veniam, quis nostrud exercitation oris nisi ut aliquip ex ea commodo equat. Duis aute irure dolo. liquatd minim veniam, quis nostrud exercitation oris nisi ut aliquip ex ea commodo equat. Duis aute irure dolo uis nostrud exercitation</p>
                                            </div>
                                            <h6>Zasica Luci, <span>CEO</span></h6>
                                        </div>
                                        <!-- testimonial-item -->
                                        <div class="testimonial-item">
                                            <div class="testimonial-brief">
                                                <p><span data-placement="top" data-toggle="tooltip" data-original-title="The name you can trust" class="tooltip-content">Sheltek</span> is the best theme for  elit, sed do eiusmod tempor dolor sit amet, conse ctetur adipiscing elit, ed do eiusmod tempor incididunt ut labore et lorna aliquatd minim veniam, quis nostrud exercitation oris nisi ut aliquip ex ea commodo equat. Duis aute irure dolo. liquatd minim veniam, quis nostrud exercitation oris nisi ut aliquip ex ea commodo equat. Duis aute irure dolo uis nostrud exercitation</p>
                                            </div>
                                            <h6>Zasica Luci, <span>CEO</span></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-3">
                                    <div class="testimonial-image">
                                        <img src="{% static 'shelter/images/others/testimonial.jpg' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- TESTIMONIAL AREA END -->

        <!-- BRAND AREA START -->
        <div class="brand-area pb-115">
            <div class="container">
                <div class="row">
                    <div class="brand-carousel">
                        <!-- brand-item -->
                        <div class="col-md-12">
                            <div class="brand-item">
                                <img src="{% static 'shelter/images/brand/1.png' %}" alt="">
                            </div>
                        </div>
                        <!-- brand-item -->
                        <div class="col-md-12">
                            <div class="brand-item">
                                <img src="{% static 'shelter/images/brand/2.png' %}" alt="">
                            </div>
                        </div>
                        <!-- brand-item -->
                        <div class="col-md-12">
                            <div class="brand-item">
                                <img src="{% static 'shelter/images/brand/3.png' %}" alt="">
                            </div>
                        </div>
                        <!-- brand-item -->
                        <div class="col-md-12">
                            <div class="brand-item">
                                <img src="{% static 'shelter/images/brand/4.png' %}" alt="">
                            </div>
                        </div>
                        <!-- brand-item -->
                        <div class="col-md-12">
                            <div class="brand-item">
                                <img src="{% static 'shelter/images/brand/5.png' %}" alt="">
                            </div>
                        </div>
                        <!-- brand-item -->
                        <div class="col-md-12">
                            <div class="brand-item">
                                <img src="{% static 'shelter/images/brand/1.png' %}" alt="">
                            </div>
                        </div>
                        <!-- brand-item -->
                        <div class="col-md-12">
                            <div class="brand-item">
                                <img src="{% static 'shelter/images/brand/4.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BRAND AREA END -->
        
       
    </section>
    <!-- End page content -->
{% endblock %}