/*------------------------------------------------------------------------------

    Template:  Sheltek Real Estate HTML5 Template
    Author: http://devitems.com/
    Version: 1
    Design and Developed by: http://devitems.com/

    NOTE: This is color stylesheet of Color Scheme.

    Note: This color style file includes all external color css file.

-------------------------------------------------------------------------------*/


/* --------------------------------------------------
    Template color css file
-------------------------------------------------- */

/*1*/
/*@import url("skin-amber.13c67850b06e.css");*/

/*2*/
/*@import url("skin-blue-grey.cbb30e2d4657.css");*/

/*3*/
/*@import url("skin-blue.c9677309b397.css");*/

/*4*/
/*@import url("skin-cyan.7cddaebb329a.css");*/

/*5*/
/*@import url("skin-default.d3a7662d9642.css");*/

/*6*/
/*@import url("skin-green-dark.3872bca391cb.css");*/

/*7*/
/*@import url("skin-green.0f9db5bd66d6.css");*/

/*8*/
/*@import url("skin-maroon.40240fb3af40.css");*/

/*9*/
/*@import url("skin-orenge.248904fc190b.css");*/

/*10*/
/*@import url("skin-pink.98fd31770872.css");*/

/*11*/
/*@import url("skin-purple.b5c8476ef226.css");*/

/*12*/
/*@import url("skin-teal.bc1b63f9d505.css");*/

/* ===============================
    Active Color CSS
================================ */

@import url("skin-default.d3a7662d9642.css");




