<!-- Footer -->
<footer id="main-footer" class="py-4 bg-primary text-white text-center footer">

    <div class="container">
        <div class="row col-12">
            <div class="col-12 col-md-6 col-lg-4 pb-3 pb-md-3 pb-lg-0">
                Copyright &copy;
		<span class="year"></span> <a href="https://tornode.org">Alicia Schonefeld</a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 pb-3 pb-md-3 pb-lg-0">
                <a href="{% url 'impressum' %}" class="text-white"><span>{{ _("Impressum") }}</span></a> 
            </div>
            <div class="col-12 col-md-6 col-lg-4 pb-3 pb-md-3 pb-lg-0">
                <a href="{% url 'privacy' %}" class="text-white"><span>{{ _("Privacy") }}</span></a> 
            </div>
        </div>
    </div>

</footer>
