<form action="{% url 'user-contact' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="user_id" value="{{ 0 }}">
    <input type="hidden" name="realtor_email" value="{{ listing.realtor.email }}">
    <input type="hidden" name="listing_id" value="{{ listing.id }}">
    <input type="hidden" name="email" value="{{ email }}">


    <div class="form-group">
      <label for="property_name" class="col-form-label">Property:</label>
      <input type="text" name="listing" class="form-control" value="{{ listing.title }}" readonly=True>
    </div>


    <div class="form-group">
      <label for="name" class="col-form-label">Fistname:</label>
      <input {% if user.first_name and user.last_name %} readonly=True {% endif %} 
             type="text" name="name" class="form-control" value="{{ user.first_name }} {{ user.last_name }}">
    </div>


    <div class="form-group">
        <label for="last_name" class="col-form-label">Lastname:</label>
        <input {% if user.last_name %} readonly=True {% endif %} 
               type="text" name="last_name" class="form-control" value="{{ user.last_name }}">
      </div>


    <div class="form-group">
      <label for="phone" class="col-form-label">Phone:</label>
      <input type="text" name="phone" class="form-control" {% if user.phone %}
        value="{{ user.phone }}" {% else %} {% endif %}>
    </div>

    <div class="form-group">
      <label for="message" class="col-form-label">Message:</label>
      <textarea name="message" class="form-control"></textarea>
    </div>
    
    <hr>
    <input type="submit" value="Send" class="btn btn-block btn-secondary">
  </form>