{% extends 'core/base.html' %}
{% load static %}

{% block extrastyle %}
<meta name="description" content="Real estate manager. 
    This is the password reset done page." />
{% endblock %}

{% block title %} | Password reset complete {% endblock %}

{% block content %}

<!--Password reset sent-->
<div class="container p-5">
  <h1 class="mt-3">
    {{ _("Password reset sent") }}
  </h1>
  <hr>
  <p>
    {{_("We've emailed you instructions for setting your password, if an account exists with the email you entered.") }}
  </p>
  <p>{{ _("You should receive them shortly.") }}</p>
  <p>
    {{ _("If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.") }}
  </p>
</div>

{% endblock %}