{% extends 'core/base.html' %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<!--Reset Password-->
<div class="container p-5">
	<h1 class="mt-3"> 
		{{ title }}
	</h1>
	<hr>
	<p>{{ _("Forgotten your password?")}} </p>
	<p>{{ _("Enter your email address below, and we'll email instructions for setting a new one.") }}</p>
	<form method="POST">
		{% csrf_token %}

		{{ password_reset_form|crispy }}

		<button class="btn btn-secondary my-3" type="submit">{{ _("Send email") }}</button>
	</form>
</div>

{% endblock %}