{% extends 'core/base.html' %}
{% load static %}

{% block extrastyle %}
<meta name="description" content="Real estate manager. 
    This is the password reset complete page." />
{% endblock %}

{% block title %} | Password reset confirm {% endblock %}

{% block content %}

  {% load crispy_forms_tags %}  
  
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h1 class="mt-3">
            {{ _("Password Reset Confirm") }}
        </h1>
        <hr>
        <p>{{ _("Please enter your new password.") }}</p>

        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}                    
            <button class="btn btn-secondary my-3" type="submit">{{ _("Reset password") }}</button>
        </form>
    </div>

{% endblock %}
