{% extends 'core/base.html' %}
{% load static %}


{% block extrastyle %}
<meta name="description" content="Real estate manager. 
    This is the password reset complete page." />
{% endblock %}
{% block title %} | Password reset complete {% endblock %}

{% block content %}

<!--Password Reset Complete-->
<div class="container p-4">
  <h1 class="mt-3">
    {{ _("Password reset complete") }}
  </h1>
  <hr>
  <p>{{ _("Your password has been set. You may go ahead and log in now.") }}</p>

  <p></p>
  <a href="{% url 'login' %}" class="btn btn-secondary">{{ _("Login") }}</a>
</div>

{% endblock %}