{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<section id="register" class="py-5">
  <div class="container">


    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h1 class="smaller-text">
              <i class="fas fa-user-plus"></i> {{ title }}
            </h1>
          </div>
          <div class="card-body bg-light ">
            <!-- Alerts -->
            {% include 'core/partials/_alerts.html' %}
            <form action="{% url 'register' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label for="first_name">{{ _("Firstname") }}</label>
                <input type="text" name="first_name" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="last_name">{{ _(" Lastname") }}</label>
                <input type="text" name="last_name" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="email">{{ _("Email") }}</label>
                <input type="email" name="email" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="password2">{{ _("Password") }}</label>
                <input type="password" name="password" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="password">{{ _("Confirm Password") }}</label>
                <input type="password" name="password2" class="form-control" required>
              </div>
              <input type="submit" value="Register" class="btn btn-secondary btn-block">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}